// Login----------------------------------------
.logo-wheat {
    position: relative;
    padding: 10px 45px;
    font-size: 17px;
    font-weight: 500;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
    animation: wind 2s ease-in-out infinite;
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #7e09eb;
        text-align: center;
        letter-spacing: 2px;
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    }
  }
  
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    color: #B05CFF;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    color: #B05CFF;
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    color: #B05CFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }