.wrapper{
    .btn-xuat-file{
        padding: 0 330px;
        display: flex;
        justify-content: center;
    }
    input{
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}