@mixin generate {
    width: 100%;
    height: 100vh;
}
  
.dark {
    height: 100vh;
    background-color: #000;
    color: #fff;
    main{
        background: #555555 !important;
    }
    button{
        background-color: #555555 !important;
        box-shadow:2px 3px 16px 0px #6b91f7 !important;
    }
    a{
        background-color: #555555 !important;
        box-shadow:2px 3px 16px 0px #6b91f7 !important;
    }
    li{
        background: #7F7F7F;
        span{
            color: #fff;
        }
    }
    article{
        background: #8D8D8D !important;
        
    }
    span{
        color: #fff !important;
    }
    aside{
        background: #393939 !important;
        box-shadow:2px 3px 16px 0px #6b91f7 !important;
    }
    nav{
        color: #000;
    }
    form{
        background: #393939 !important;
        box-shadow:2px 3px 16px 0px #6b91f7 !important;
        ul{
            &:hover{
                background-color: #555555 !important;
            }
        }
    }
    textarea {
        color: #000;
    }
}
